.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-search {
  width: 600px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resultsContainer {
  width: 600px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 15px;
}

.results {
  padding: 15px;
}

.results:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
