.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  background-color: #f5f5f5;
  padding: 20px;
}

.search-input {
  width: 600px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.results-container {
  width: 600px;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 300px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 5px;
}

.results-name {
  padding: 10px;
  /* border: 1px solid red; */
}

.results-name:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
